@font-face {
  font-family: "Adelle Cyrillic";
  src:
  url("assets/fonts/AdelleCyrillic.woff2") format("woff2"),
  url("assets/fonts/AdelleCyrillic.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
        url("assets/fonts/AdelleCyrillic-Bold.woff2") format("woff2"),
        url("assets/fonts/AdelleCyrillic-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
          url("assets/fonts/AdelleCyrillic-BoldItalic.woff2") format("woff2"),
          url("assets/fonts/AdelleCyrillic-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
          url("assets/fonts/AdelleCyrillic-Extrabold.woff2") format("woff2"),
          url("assets/fonts/AdelleCyrillic-Extrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
          url("assets/fonts/AdelleCyrillic-ExtraboldItalic.woff2") format("woff2"),
          url("assets/fonts/AdelleCyrillic-ExtraboldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
          url("assets/fonts/AdelleCyrillic-Italic.woff2") format("woff2"),
          url("assets/fonts/AdelleCyrillic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
          url("assets/fonts/AdelleCyrillic-Light.woff2") format("woff2"),
          url("assets/fonts/AdelleCyrillic-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
          url("assets/fonts/AdelleCyrillic-SemiBold.woff2") format("woff2"),
          url("assets/fonts/AdelleCyrillic-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Adelle Cyrillic";
  src:
          url("assets/fonts/AdelleCyrillic-SemiBoldItalic.woff2") format("woff2"),
          url("assets/fonts/AdelleCyrillic-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
