// Fonts

$fontSizeBasic: 16px;
$fontLineHeightBasic: 1.3;
$fontFamilySerif: 'Adelle Cyrillic', serif;
$fontFamilySansSerif: 'Adelle Cyrillic', sans-serif;

$bodyBackgroundColor: #161b1d;
$whiteColor: #fff;
$blackColor: #000;
