// Fonts

$fontSizeBasic: 16px;
$fontLineHeightBasic: 1.3;
$fontFamilySerif: 'Adelle Cyrillic', serif;
$fontFamilySansSerif: 'Adelle Cyrillic', sans-serif;

// Colors

$bodyBackgroundColor: #161b1d;
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #747c81;
$cardBackgroundColor: #1e2224;


// Border radius

$borderRadiusCard: 16px;




// Mixins

@mixin card {
  border-radius: $borderRadiusCard;
  background-color: $cardBackgroundColor;
  padding: 20px;
}
