@use '../variables' as *;

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: auto;

  font-family: $fontFamilySansSerif;
  font-size: $fontSizeBasic;
  line-height: $fontLineHeightBasic;
  background-color: $bodyBackgroundColor;
  text-rendering: optimizeLegibility;
  color: $whiteColor;
}

a {
  text-decoration: none;
  display: block;
  color: $whiteColor;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

textarea {
  resize: none;
  height: 200px;
}

pre {
  white-space: break-spaces;
}

.page-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-content {
  margin-top: 92px;
}

// Слайдер (стрелочки)

.slider-arrows {
  position: absolute;
  top: -10%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;

  @media screen and (max-width: 550px) {
    top: -9%;
  }
  .slider-arrow {
    background-color: $nestedCardBackgroundColor;
    top: -10%;
    opacity: 1;
    position: static;

    svg {
      fill: $whiteColor;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .slider-prev-arrow {
    left: 0;
  }

  .slider-next-arrow {
    right: 0;
  }
}


